.ul-1,
.ul-2,
.ul-3 {
  list-style: none;
  font-size: 12px;
}

.footer-container {
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  list-style: none;
  margin-top: 50px;
  /* margin-left: 500px;
  margin-right: 500px; */
  /* border-bottom-left-radius: 50px; */
  border-radius: 5px;
}
