.home-global-container {
  margin: 50px;
}

.home-main-container {
  /* margin: 70px; */
}

.home-main-container-1 {
  display: flex;
  flex-direction: row;
}

.home-main-container-2 {
  /* display: flex;
  flex-direction: column; */
}

.home-main-container-a {
  margin: 50px;
  /* background-color: khaki; */
  width: 30%;
}

.home-main-container-b {
  /* margin: 1px solid rgb(9, 9, 9); */
  background-color: #f6efa6;
  width: 70%;
  margin-top: 40px;
  margin-bottom: -10px;
  /* margin-right: 50px; */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-main-container-c {
  /* margin: 1px solid rgba(238, 238, 238);
  margin: 50px; */
}

.sign-up-btn {
  border: 1px solid rgba(238, 238, 238);
  width: 175px;
  height: 32.5px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 2.5px;
  margin-bottom: 15px;
  background-color: rgba(242, 169, 61, 0.891);
  font-weight: bold;
  font-size: 18px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0.7px 0.7px 1.1px;
}

.sign-in-btn {
  border: 1px solid rgba(238, 238, 238);
  width: 175px;
  height: 30px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 2.5px;
  font-weight: bold;
  color: rgb(170, 170, 170);
  box-shadow: rgba(0, 0, 0, 0.16) 2.5px 1.5px 3px,
    rgba(0, 0, 0, 0.23) 0px 1.5px 3px;
  border-radius: 30px;
}

.home-img {
  width: 100%;
  height: auto;
  /* min-width: 500px; */
}
