.home-global-container {
  margin: 50px;
}

.home-main-container {
  /* margin: 70px; */
}

.home-main-container-1 {
  display: flex;
  flex-direction: row;
}

.home-main-container-2 {
  /* display: flex;
  flex-direction: column; */
}

.home-main-container-a {
  /* width: 300px; */
  margin: 50px;
  /* background-color: khaki; */
}

.home-main-container-b {
  /* margin: 1px solid rgb(9, 9, 9); */
  /* background-color: khaki; */
}

.home-main-container-c {
  /* margin: 1px solid rgba(238, 238, 238);
  margin: 50px; */
}

.sign-up-btn {
  border: 1px solid rgba(238, 238, 238);
  width: 175px;
  height: 32.5px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 2.5px;
  margin-bottom: 15px;
  background-color: rgba(242, 169, 61, 0.891);
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
}

.sign-in-btn {
  border: 1px solid rgba(238, 238, 238);
  width: 175px;
  height: 30px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 2.5px;
  font-weight: bold;
  color: rgb(170, 170, 170);
  box-shadow: rgba(0, 0, 0, 0.16) 2.5px 1.5px 3px,
    rgba(0, 0, 0, 0.23) 0px 1.5px 3px;
  border-radius: 20px;
}

.home-img {
  display: flexbox;
  background: no-repeat center center fixed;
  background-size: cover;
  width: 70%;
}
