.NavForm {
  background-color: transparent;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  /* margin-left: 500px;
  margin-right: 500px; */
  height: 70px;
  /* border-collapse: collapse; */
  border-left: 1px solid rgba(238, 238, 238);
  border-right: 1px solid rgba(238, 238, 238);
  border-bottom: 1px solid rgba(238, 238, 238);
  /* border-top: 0px solid rgba(238, 238, 238); */
  border-radius: 10px;
}

.NavForm .nav-list {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  margin-left: 50px;
}

.NavForm .nav-list li {
  margin-right: 20px;
}
