.NavForm {
  background-color: transparent;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  /* padding: 20px; */
  height: 70px;
  border: 1px solid rgba(238, 238, 238);
}

.NavForm .nav-list {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  margin-left: 50px;
}

.NavForm .nav-list li {
  margin-right: 20px;
}
