.NavMain {
  background-color: transparent;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  padding: 20px;
  height: 70px;
  border: 1px solid rgba(238, 238, 238);
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

/* email display on the right side */
.email-usr-display {
  margin-top: 15.5px;
}

/* logo display on the left side */
.img-logo {
  /* border: 1px solid grey; */
  width: 100px;
  height: auto;
  margin-top: 5px;
  margin-left: 40px;
}
