.ul-readform {
}

.li-readform {
  margin: 50px;
}

.id-bundle {
  display: none;
}

.question-bundle {
}

.answer-bundle {
  display: none;
}

.category-bundle {
  display: none;
}

.level-bundle {
  display: none;
}
